<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %} " />
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.css' %} " />

    <link rel="script" href="{% static 'bootstrap-3.3.7/js/bootstrap.js' %} " />
    <link rel="script" href="{% static 'bootstrap-3.3.7/js/npm.js' %} " />

    <!-- Medium Editor -->
    <link rel="stylesheet" href="{% static 'medium-editor-5.23.3/css/medium-editor.css' %} " /> <!-- Core -->
    <link rel="stylesheet" href="{% static 'medium-editor-5.23.3/css/themes/default.css' %} " /> <!-- Tema -->

    <link rel="script" href="{% static 'medium-editor-5.23.3/js/medium-editor.js' %} " />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %} " />

    <!-- Font -->

</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url 'blog:post_list' %}">My tech Blog</a></li>
            <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="#"></a></li>

            {% if user.is_authenticated %}
                <li><a class="navbar-link" href="#">Logout</a></li>
            {% else %}
                <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}


        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>