<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %} " />
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.css' %} " />

    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %} "></script>
    <script src="{% static 'bootstrap-3.3.7/js/npm.js' %} "></script>

    <!-- Medium Editor -->
    <script src="{% static 'medium-editor-5.23.3/js/medium-editor.js' %} "></script>


    <link rel="stylesheet" href="{% static 'medium-editor-5.23.3/css/medium-editor.css' %} " /> <!-- Core -->
    <link rel="stylesheet" href="{% static 'medium-editor-5.23.3/css/themes/default.css' %} " /> <!-- Tema -->


      <!--
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
-->


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %} " />

    <!-- Google Font -->

</head>
<body>

    <nav class="navbar navbar-default techfont custom-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand big-brand" href="{% url 'blog:post_list' %}">My Blog</a></li>
                <li><a href="{% url 'blog:about' %}">About</a></li>
                <li><a href="#"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'blog:post_new' %}">New Post</a></li>
                    <li><a class="navbar-link" href="{% url 'blog:post_draft_list' %}">Drafts</a></li>
                    <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>

                    <li><a>Welcome: {{ user.username }}</a></li>

                {% else %}
                    <li><a class="navbar-link" href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-posts">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>


</body>
</html>