.techfont {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.big-brand {
    font-size: 1.5em;
}

.centerstage {
    margin-left: auto;
    margin-right: auto;
}

.approved-comments {
    border-radius: 5px;
    margin-top: 25px;
    border-top: solid lightslategrey;
    border-bottom: solid lightslategrey;
    padding: 5px;
}

.not-approved-comments {
    border-radius: 5px;
    margin-top: 25px;
    border-top: solid lightgrey;
    border-bottom: solid lightgrey;
    padding: 5px;
    color: grey;
}

.comment {
    margin-top: 10px;
}

.text-form {
    width: 100%;
    min-height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

dl {
    margin-left: 25px;
}

