<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="{% static "test_app/css/mystyle.css" %}"></link>
</head>
<body>

<h1>Elenco Utenti</h1>

{% if users %}
<div class="django_table" >
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </thead>

    {% for usr in users %}
        <tr>
            <td>{{ usr.first_name }}</td>
            <td>{{ usr.last_name }}</td>
            <td>{{ usr.email }}</td>
        </tr>
    {% endfor %}

    </table>
</div>

{% else %}
    <p> Non ci sono utenti nel sito </p>
{% endif %}

</body>
</html>